body {
  font-family: sans-serif;
  margin: 40px; 
}
label {
  display: block;
  margin-bottom: 10px; 
}
#preview,
#preview-video {
  margin-top: 20px;
}
img,
video {
  max-width: 100%;
  max-height: 300px;
  margin-top: 10px
}
  
  
